*{padding:0;margin:0;}

//header
.headerButton1{
    width: 10%;
    height: 100%;
    float: left;
}
.titleDiv{
    width: 80%;height: 100%; float: left;
}
.titleP{
    text-align: center;margin-top: 5px; font-weight: 900;
}
.headerButton2{
width: 10%;height: 100%; float: left;
}

//content

.row {
    margin-top: 40px;
    align-content: center;
    height: 60px;
}
.col {
    height: 60px;
    text-align: center;
}
.contentDiv1{
    margin-left: 45%;
    width: 80px;
}
.contentDiv2{
    margin-left: 10%;
    width: 80px;
}
.img{
    width: 50px;
}
.label{
    margin-top: 0;
    text-align: center;
}

//card

.card{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    margin-left: 18px;
    margin-top: 50px;
}
.cardRow {
    align-content: center;
    height: 60px;
}
.cardDiv1{
    // margin-top: 10px;
    margin:auto;
    width: 70px;
}
.cardDiv2{
    margin:auto;
    width: 70px;
}
.cardDiv3{
    margin:auto;
    width: 70px;
}
.cardCol {
    height: 60px;
    text-align: center;
}
.cardImg1 {
    margin: auto;
    width: 30px;
}
.cardImg2 {
    margin-left: 20px;
    width: 30px;
}
.cardImg3 {
    margin-left: 15px;
    width: 30px;
}
.cardLabel{
    // margin-top: 0;
    text-align: center;
}
// .imgDiv2{
//     width: 70px;
//     margin: auto;
// }