<ion-header>
  <div class="headerButton1">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab4" icon="arrow-undo-outline" text="">
      </ion-back-button>
    </ion-buttons>
  </div>
  <div class="titleDiv">
    <p class="titleP">转账汇款</p>
  </div>
  <div class="headerButton2">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab4" icon="headset-outline" text="">
      </ion-back-button>
    </ion-buttons>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="row">
    <ion-col class="col">
      <div class="contentDiv1" [routerLink]="['/card-transfer']">
        <div class="imgDiv">
          <img src="../assets/images/转账1.png" class="img">
        </div>
        <div class="labelDiv">
          <ion-label class="label">银行卡转账</ion-label>
        </div>
      </div>
    </ion-col>
    <ion-col class="col">
      <div class="contentDiv2" [routerLink]="['/advance-transfer']">
        <div class="imgDiv">
          <img src="../assets/images/转账1.png" class="img">
        </div>
        <div class="labelDiv">
          <ion-label class="label">预约转账</ion-label>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <ion-card class="card">
    <ion-row class="cardRow">
      <ion-col class="cardCol">
        <div class="cardDiv1" [routerLink]="['/transaction-details']">
          <div class="imgDiv2">
            <img src="../assets/images/转账1.png" class="cardImg1">
          </div>
          <div class="labelCardDiv">
            <ion-label class="cardLabel">交易明细</ion-label>
          </div>
        </div>
      </ion-col>
      <ion-col class="cardRow">
        <div class="cardDiv2" [routerLink]="['/tabs/tab1']">
          <div class="imgDiv2">
            <img src="../assets/images/转账1.png" class="cardImg2">
          </div>
          <div class="labelCardDiv">
            <ion-label class="cardLabel">收款人管理</ion-label>
          </div>
        </div>
      </ion-col>
      <ion-col class="cardRow">
        <div class="cardDiv3" [routerLink]="['/transfer-cancellation']">
          <div class="imgDiv2">
            <img src="../assets/images/转账1.png" class="cardImg3">
          </div>
          <div class="labelCardDiv">
            <ion-label class="cardLabel">转账撤销</ion-label>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>