<ion-header>
  <div class="headerButton1">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab4" icon="arrow-undo-outline" text="">
        <!-- <ion-icon name=></ion-icon> -->
      </ion-back-button>
    </ion-buttons>
  </div>
  <div class="titleDiv">
    <p class="titleP">转账汇款</p>
  </div>
  <div class="headerButton2">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab4" icon="headset-outline" text="">
        <!-- <ion-icon name=></ion-icon> -->
      </ion-back-button>
    </ion-buttons>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="row">

    <ion-col class="col">
      <div>
        <img src="../assets/images/转账1.png" class="img">
      </div>
      <ion-label class="label">Label</ion-label>
    </ion-col>
    <ion-col class="col">
      <div>
        <img src="../assets/images/转账1.png" class="img">
      </div>
      <ion-label class="label">Label</ion-label>
    </ion-col>
  </ion-row>

  <ion-card>
    <ion-row class="cardRow">
      <ion-col class="cardCol">
        <div>
          <img src="../assets/images/转账1.png" class="img">
        </div>
        <ion-label class="cardLabel">Label</ion-label>
      </ion-col>
      <ion-col class="cardCol">
        <div>
          <img src="../assets/images/转账1.png" class="img">
        </div>
        <ion-label class="cardLabel">Label</ion-label>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>