*{
    margin: 0;
    padding: 0;
}

.payDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 99999;
    .card1 {
        margin: 50px auto;
        width: 300px;
        height: 250px;
        background-color: #ffffff;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 2px 2px 5px #c29cc2;
        .closePay{
            font-size: 2rem;
        }
        .pw{
            width: 100%;
            .pw1,.pw2,.pw3,.pw4,.pw5,.pw6{
                padding-top: 8px;
                border:1px solid;
                border-color: #0000001f;
                float: left;
                width: 16.6%;
                height: 40px;
                text-align: center;
            }
        }
    }
    .card2{
        margin-bottom: 0px;
        width: 100%;
        height: 320px;
        background-color: #ffffff;
        .one{
            border:1px solid;
            border-color: #0000001f;
            width: 33.3%;
            height: 25%;
            float: left;
            text-align: center;
            .oneP{
                margin-top: 30px;
            }
            .backspace{
                margin-top: 12px;
                font-size: 2rem;
            }
        }
    }
}

.payeeDiv{
    margin-left: 75%;
    margin-top: 50px;
    position: absolute;
    border-radius: 20px;
    border:1px solid;
    border-color: #0000001f;
    width: 25%;
    height: 25%;
    background-color: rgb(255, 255, 255);
    ul{
        list-style-type: none;
        li{
            text-align: center;
        }
    }
}


    // .zhezhao{
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     background-color: rgba(0,0,0,0.1);
    //     z-index:99999;
    //     .tishikuang{
    //         margin: 50px auto;
    //         width: 300px;
    //         height: 250px;
    //         background-color: #ffffff;
    //         border-radius: 20px;
    //         padding: 20px;
    //         box-shadow: 2px 2px 5px #c29cc2;
    //         p{
    //             margin-top: 50px;
    //             margin-left: 50px;
    //             line-height: 10px;
    //             color: #161616;
    //             font-weight: 700;
    //         }
    //         ion-button {
    //             margin-right: 34px;
    //             margin-left: 20px;
    //         }
    //         input{  
    //             margin-left: 50px;
    //         }
    //         .tishi_p{   
    //             color: #646464;
    //         }
    //     }
    // }