<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="backButton">
      <ion-back-button defaultHref="/transfer" icon="chevron-back-sharp" text="">
        <!-- <ion-icon name=></ion-icon> -->
      </ion-back-button>
    </ion-buttons>
    <ion-title>银行卡转账</ion-title>
    <ion-button fill="clear" slot="end" [routerLink]="['/add-payee']">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="presentToast()">
    Toast
  </ion-button>
  <ion-button (click)="presentToastWithOptions()">
    Toast2
  </ion-button>

  <ion-button (click)="presentAlertMultipleButtons()">
    alert
  </ion-button>
  <ion-button (click)="presentAlertConfirm()">
    alert2
  </ion-button>
  <ion-button (click)="presentAlertPrompt()">
    alert3
  </ion-button>
  <ion-button (click)="presentAlertRadio()">
    alert4
  </ion-button>
  <ion-button (click)="presentAlertCheckbox()">
    alert5
  </ion-button>
  <ion-button (click)="focusOn()">
    focus
  </ion-button>
  <input  class="input-left" />

  <ion-button [routerLink]="['/slider']">
    swiper
  </ion-button>

  <!-- Default Segment -->

  <ion-row class="col">
    <ion-col size="4" (click)="showDiv11()">
      <div>全部</div>
      <div *ngIf=showIcon11><img src="../../assets/images/条.png"></div>
    </ion-col>
    <ion-col size="4" (click)="showDiv12()">
      <div>收入</div>
      <div *ngIf=showIcon12><img src="../../assets/images/条.png"></div>
    </ion-col>
    <ion-col size="4" (click)="showDiv13()">
      <div>支出</div>
      <div *ngIf=showIcon13><img src="../../assets/images/条.png"></div>
    </ion-col>
  </ion-row>

  <ion-row class="col">
    <ion-col size="4" (click)="showDiv21()">
      <div>全部</div>
      <div *ngIf=showIcon21><img src="../../assets/images/条.png"></div>
    </ion-col>
    <ion-col size="4" (click)="showDiv22()">
      <div>收入</div>
      <div *ngIf=showIcon22><img src="../../assets/images/条.png"></div>
    </ion-col>
    <ion-col size="4" (click)="showDiv23()">
      <div>支出</div>
      <div *ngIf=showIcon23><img src="../../assets/images/条.png"></div>
    </ion-col>
  </ion-row>

  <!-- 内容 -->

<div *ngIf=showIcon11&&showIcon21>1</div>
<div *ngIf=showIcon11&&showIcon22>2</div>
<div *ngIf=showIcon11&&showIcon23>3</div>
<div *ngIf=showIcon12&&showIcon21>4</div>
<div *ngIf=showIcon12&&showIcon22>5</div>
<div *ngIf=showIcon12&&showIcon23>6</div>
<div *ngIf=showIcon13&&showIcon21>7</div>
<div *ngIf=showIcon13&&showIcon22>8</div>
<div *ngIf=showIcon13&&showIcon23>9</div>

</ion-content>


