<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="backButton">
      <ion-back-button defaultHref="/transfer" icon="chevron-back-sharp" text="">
        <!-- <ion-icon name=></ion-icon> -->
      </ion-back-button>
    </ion-buttons>
    <ion-title>银行卡转账</ion-title>
    <ion-button fill="clear" slot="end" [routerLink]="['/add-payee']">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="presentToast()">
    Toast
  </ion-button>
  <ion-button (click)="presentToastWithOptions()">
    Toast2
  </ion-button>

  <ion-button (click)="presentAlertMultipleButtons()">
    alert
  </ion-button>
  <ion-button (click)="presentAlertConfirm()">
    alert2
  </ion-button>
  <ion-button (click)="presentAlertPrompt()">
    alert3
  </ion-button>
  <ion-button (click)="presentAlertRadio()">
    alert4
  </ion-button>
  <ion-button (click)="presentAlertCheckbox()">
    alert5
  </ion-button>
  <ion-button (click)="focusOn()">
    focus
  </ion-button>
  <input  class="input-left" />

  <ion-button [routerLink]="['/slider']">
    swiper
  </ion-button>

  <ion-button [routerLink]="['/test/hello']">
    swiper
  </ion-button>
  <!-- Default Segment -->

  <ion-row class="col">
    <ion-col size="4" (click)="showDiv11()">
      <div>全部</div>
      <div *ngIf=showIcon11><img src="../../assets/images/条.png"></div>
    </ion-col>
    <ion-col size="4" (click)="showDiv12()">
      <div>收入</div>
      <div *ngIf=showIcon12><img src="../../assets/images/条.png"></div>
    </ion-col>
    <ion-col size="4" (click)="showDiv13()">
      <div>支出</div>
      <div *ngIf=showIcon13><img src="../../assets/images/条.png"></div>
    </ion-col>
  </ion-row>

  <ion-row class="col">
    <ion-col size="4" (click)="showDiv21()">
      <div>全部</div>
      <div *ngIf=showIcon21><img src="../../assets/images/条.png"></div>
    </ion-col>
    <ion-col size="4" (click)="showDiv22()">
      <div>收入</div>
      <div *ngIf=showIcon22><img src="../../assets/images/条.png"></div>
    </ion-col>
    <ion-col size="4" (click)="showDiv23()">
      <div>支出</div>
      <div *ngIf=showIcon23><img src="../../assets/images/条.png"></div>
    </ion-col>
  </ion-row>

  <!-- 内容 -->

<div *ngIf=showIcon11&&showIcon21>1</div>
<div *ngIf=showIcon11&&showIcon22>2</div>
<div *ngIf=showIcon11&&showIcon23>3</div>
<div *ngIf=showIcon12&&showIcon21>4</div>
<div *ngIf=showIcon12&&showIcon22>5</div>
<div *ngIf=showIcon12&&showIcon23>6</div>
<div *ngIf=showIcon13&&showIcon21>7</div>
<div *ngIf=showIcon13&&showIcon22>8</div>
<div *ngIf=showIcon13&&showIcon23>9</div>

<!-- 数据请求 -->
<ion-button (click)="getData()" expand="block" fill="clear" shape="round">
  请求数据
</ion-button>

<ion-list>
  <ion-item *ngFor="let item of list,key">
    <ion-label>{{item.name}}</ion-label>
    <ion-label>{{item.text}}</ion-label>
  </ion-item>
</ion-list>

<!-- 限制输入 -->

<form name="loginForm" novalidate ng-submit="login()"  ng-controller="LoginController">
  <div style="width:280px;float:left">
      <label>用户名：</label>
      <input type="text" placeholder="请输入用户名" name="uname" ng-model="uname" ng-minlength=
              3 ng-maxlength=10 required />
  </div>
  <div class="error" ng-messages="loginForm.uname.$error" style="color:red;">
      <div ng-message="required">用户名不能为空</div>
      <div ng-message="minlength">用户名长度至少为3</div>
      <div ng-message="maxlength">用户名长度不能超过10</div>
  </div>
  <br/><br/>
  <button type="submit">提交</button>
</form>

</ion-content>


