*{
    padding: 0;
    margin: 0;
}


.slide{
    margin-top: 10px;
    p{
        margin-left: 10px;
    }
}
.transferor{
    margin-top: 5px;
    padding: 0;
}
.transferOutDiv{
    div,p{
        float: left;
        font-size: 3px;
    }
    .transferOutText1{
        margin-left: 15px;
    }
    .transferOutText2{
        margin-left: 35px;
    }
    .transferOutMoney{
        color: #ffc409;
    }
}

.lastP{
    padding-left: 180px;
    font-size: small;
    color: rgba(0, 0, 0, 0.349);
}
