<ion-row>
  <ion-col size="12">
    <div class="slide" >
      <p>交房租</p>
    </div>
  </ion-col>

  <ion-col size="4.5">
    <ion-item lines="none" class="transferor">
      <ion-avatar slot="start">
        <img src="../assets/images/转账1.png">
      </ion-avatar>
      <ion-label>
        <h2>刘晋言</h2>
        <p>尾号7888</p>
      </ion-label>
    </ion-item>
  </ion-col>

  <ion-col size="3">
    <div class="transferOutDiv">
      <div>
        <p class="transferOutText1">转出</p>
        <p class="transferOutMoney">10.00</p>
        <p>元</p>
      </div>
      <img src="../assets/images/箭头.png">
      <div class="transferOutText2">每周</div>
    </div>
  </ion-col>

  <ion-col size="4.5" class="transferor">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="../assets/images/转账1.png">
      </ion-avatar>
      <ion-label>
        <h2>刘晋言</h2>
        <p>尾号7888</p>
      </ion-label>
      <ion-item style="display: none;"></ion-item>
    </ion-item>
  </ion-col>

  <ion-col size="12">
    <div class="slide" >
      <p class="lastP">下一个执行日：2021-1-23</p>
    </div>
  </ion-col>
</ion-row>
