<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="backButton">
      <ion-back-button defaultHref="/transfer" icon="chevron-back-sharp" text="">
      </ion-back-button>
    </ion-buttons>
    <ion-title>交易明细</ion-title>
    <ion-button fill="clear" slot="end" [routerLink]="['/add-payee']">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    
    <ion-item>
      <ion-label>账户类型&nbsp;&nbsp;</ion-label>
      <ion-input type="text" placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>卡/账号&nbsp;&nbsp;&nbsp;&nbsp;</ion-label>
      <ion-input type="text" placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>币种&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-label>
      <ion-input type="text" placeholder=""></ion-input>
    </ion-item>
  </ion-list>

  <div class="availableBalance">
    <div>
      可用余额:1000
    </div>
  </div>
    
  <app-segment></app-segment>

  <ion-button expand="block" fill="clear" shape="round">
    Click me
  </ion-button>

</ion-content>
