<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="backButton">
      <ion-back-button defaultHref="/transfer" icon="chevron-back-sharp" text="">
      </ion-back-button>
    </ion-buttons>
    <ion-title>预约转账</ion-title>
    <ion-button fill="clear" slot="end" [routerLink]="['/add-payee']">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <!-- <ion-row class="row"> -->
    <ion-segment value="all" class="optionBar">
      <ion-segment-button value="all" (click)="normalButton()">
        <ion-label>正常</ion-label>
      </ion-segment-button>
      <ion-segment-button value="favorites" (click)="completedButton()">
        <ion-label>已完成</ion-label>
      </ion-segment-button>
      <ion-segment-button value="ok" (click)="cancelButton()">
        <ion-label>撤单</ion-label>
      </ion-segment-button>
    </ion-segment>



    <div *ngIf=normal>
      <ion-list lines="none">
        <div *ngFor="let item of list">
          <!-- <ion-label>{{item}}</ion-label> -->
          <app-normal-transfer  [routerLink]="['/transfer-detail']"></app-normal-transfer>
        </div>
      </ion-list>
    </div>

    <div *ngIf=completed>
      <app-normal-transfer></app-normal-transfer>
    </div>

    <div *ngIf=cancel>
      <app-normal-transfer></app-normal-transfer>
    </div>
    
    <!-- <ion-button [routerLink]='' expand="block" fill="clear" shape="round">
      新增预约转账
    </ion-button> -->
</ion-content>