<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="backButton">
      <ion-back-button defaultHref="/advance-transfer" icon="chevron-back-sharp" text="">
      </ion-back-button>
    </ion-buttons>
    <ion-title>预约转账明细</ion-title>
    <ion-button fill="clear" slot="end" [routerLink]="['/add-payee']">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-normal-transfer></app-normal-transfer>
  <ion-row class="row">
    <ion-col size="5">
      <div class="detail">
        执行明细
      </div>
    </ion-col>
    <ion-col size="7">
      <div>
        <span>下一个执行日：2020-11-10</span>
        <span>转账结束日期：2021-11-10</span>
      </div>
    </ion-col>
  </ion-row>
  
  
  <ion-row class="one">
    <ion-col size="4"><span>2021-01-10</span></ion-col>
    <ion-col size="4"><span>10.00元</span></ion-col>
    <ion-col size="4"><span>完成</span></ion-col>
  </ion-row>

  <ion-button expand="block" shape="round">
    查看更多详情
  </ion-button>
</ion-content>
