<ion-header>
  <ion-toolbar>
    <ion-title>tab4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label [routerLink]="['/transfer']">转账汇款主页</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label [routerLink]="['/test']">测试页面</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label [routerLink]="['/transfer']">转账汇款主页</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label [routerLink]="['/transfer']">转账汇款主页</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label [routerLink]="['/transfer']">转账汇款主页</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
